.ant-table-thead>tr>th {
    text-align: left;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
    padding: 10px;
}
.videoPic{
    width:150px;
    height:120px;
}
.B{
    color: black;
}
.W{
    color:white;
}
.msHeiTi{
    font-family: '微软雅黑';
    font-weight: bold;
}