      .content-bt-xia {
          width: 95%;
          line-height: 26px;
          text-align: center;
          color: #585858;
          font-size: 14px;
      }

      .content-bt-xia span {
          color: #585858;
          padding: 0 10px;
      }