a{
  color:whitesmoke;
}
.card-container p {
  margin: 0;
}

.card-container>.ant-tabs-card .ant-tabs-content {
  min-height: 233px;
  margin-top: -16px;
}

.card-container>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
  background: #fff;
}

.card-container>.ant-tabs-card>.ant-tabs-nav::before {
  display: none;
}

.card-container>.ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container>.ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container>.ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container>.ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

#components-tabs-demo-card-top .code-box-demo {
  background: #1968b3;
  overflow: hidden;
  padding: 24px;
}

[data-theme='compact'] .card-container>.ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}

[data-theme='dark'] .card-container>.ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}

[data-theme='dark'] .card-container>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
  background: #141414;
}

[data-theme='dark'] .card-container>.ant-tabs-card .ant-tabs-tab-active {
  border-color: #141414;
  background: #141414;
}
.black{
  color:black;
}
.navleft-icon{
  float: left;
  font-size: larger;
  margin-left: 30px;
  line-height: 45px;
}
.navleft-span{
  display: block;
  margin-left: 100px;
}
.navleft-1{
  height:40px;
  background-color:#538CB7;
  /* text-align: center; */
  text-align: left;
  line-height: 40px;
  color: white;
  position: absolute;
  margin-top: 110px;
  width:100%;
}
/* 值班领导的css样式 */
.navleft-11 {
  height: 40px;
  background-color: #EA8700;
  text-align: left;
  line-height: 40px;
  color: white;
  width: 100%;
}
.ant-divider-horizontal {
  margin: 8px 0;
}
.navleft-2 {
  height: 40px;
  background-color: #6b629A;
  text-align: left;
  line-height: 40px;
  color: white;
  position: absolute;
  margin-top: 160px;
  width: 100%;
}
.navleft-22 {
  height: 40px;
 background-color: #E55F0b;
  text-align: left;
  line-height: 40px;
  color: white;

  
  width: 100%;
}
.navleft-3 {
  height: 40px;
  background-color: #EA8700;
  text-align: left;
  line-height: 40px;
  color: white;
  position: absolute;
  margin-top: 210px;
  width: 100%;
}
.navleft-4 {
  height: 40px;
  background-color: #E55F0b;
  text-align: left;
  line-height: 40px;
  color: white;
  position: absolute;
  margin-top: 260px;
  width: 100%;
}
.detail-left-ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 0;
  width: 180px;
}
.list-container{
  width: 1200px;
  margin: 0 auto;
}
.newslist-a {
  background: url(/public/image/list-icon-a.png) no-repeat 5px center;
  padding-left: 20px;
}
.awalys {
  text-align: center;
  font-size: 16px;
  /* margin-left: 10px; */
  background: #c84742;
  color: #ffffff;
  line-height: 50px;
  height: 50px;
  display: block;
  padding: 0;
  width: 280px;
}

.detail-left-li {
  text-align: center;
  line-height: 50px;
  display: block;
  font-size: 16px;
  height: 50px;
  display: block;
  color: #333333;
  width: 280px;
}
.container {
  margin: 30px auto 0 auto;
  width: 1200px;
}

a.ant-typography,
.ant-typography a {
  color: rgba(0, 0, 0, 0.65);
}
.nav {
  height: 300px;
}
.newsIcon{
  z-index: 90;
  font-size: 20px;
   position: absolute;
   overflow: hidden;
   color: #f5f8f8;
   right:3%;
   top:8%;
   transition: 0.25s;
}
.newsIcon :hover{
  transform: translateZ(-10px) scale(1.05);
}
.video {
  width: 700px;
  height: 300px;
  padding-top: 43.1%;
  z-index: 10;
}

.video-detail {
  height: 450px;
  width: 800px;
  background-color: #f5f8f8;
  /* border: 10px solid blue; */
}

.video-recommend {
  /* border: 1px solid red; */
  min-height: 450px;
  /* background-color: #444444; */
}

.junwang {
  border-left-width: 5px;
  border-left-color: #173071;
  border-left-style: solid;
  height: 18px;
  line-height: 18px;
}

.ant-card-body {
  padding: 8px;
}

.ant-divider {
  border-top: 1px solid #173071;
}

.ant-divider-horizontal {
  margin: 10px 0;
}

.qj-level {
  margin-top: 16px;
  /* height: 350px; */
  min-height: 300px;
}

.tangle {
  width: 1200px;
  height: 45px;
  background-color: #1968b3;
  font-size: 32px;
  line-height: 45px;
  font-weight: bold;
  color: white;
}

.hoverable {
  cursor: pointer;
  transition: box-shadow 0.3s, border-color 0.3s, -webkit-box-shadow 0.3s;
}

.tangle span {
  display: block;
  text-align: center;
}

.mini-tangle {
  /* margin: 0 8px; */
  border: 1px solid red;
  width: 280px;
  height: 24px;
  border-left-width: 280px;
  border-left-color: #1968b3;
  /* background-color: #1968B3; */
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: white;
}

.ant-card-head {
  text-align: center;
  background-color: #1968b3;
  min-height: 28px;
  height: 28px;
  line-height: 28px;
  color: white;
}

.ant-card-head-title {
  padding: 0;
}

.ant-list-sm .ant-list-item {
  padding: 0;
}

.ant-list-bordered.ant-list-sm .ant-list-item {
  /* padding: 6px 18px; */
  /* border: 0; */
}

.my-card {
  height: 280px;
}

/* 重写card边框设置 */
.ant-list-bordered {
  border: 0;
}

.movie-card {
  height: 500px;
}

.mail-text {
  padding-left: 10px;
}

.station-master-mail {
  background-color: #1bbbef;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font: bold;
  color: white;
  margin-top: 10px;
  font-size: larger;
}

.commissioner-mail {
  background-color: #1d6ab4;
  /* width: 300px; */
  height: 60px;
  text-align: center;
  line-height: 60px;
  font: bold;
  color: white;
  margin-top: 10px;
  font-size: larger;
}

.officer-mail {
  background-color: #f19700;
  /* width: 300px; */
  height: 60px;
  text-align: center;
  line-height: 60px;
  font: bold;
  color: white;
  margin-top: 10px;
  font-size: larger;
}

.discipline-mail {
  background-color: #d0151c;
  /* width: 300px; */
  height: 60px;
  text-align: center;
  line-height: 60px;
  font: bold;
  color: white;
  margin-top: 10px;
  font-size: larger;
}

.links {
  height: 300px;
  line-height: 2.2em;
  font-size: 14px;
  background-color: #f5f8f8;
}

.links-left {
  margin-left: 40px;
  color: black;
  font-size: 16px;
  font-weight: blod;
}

.links-title {
  margin-left: 10px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
  height: 16px;
}

.links a {
  margin-right: 30px;
  font-size: 14px;
  color: black;
  text-align: center;
}

.links a:hover {
  font-size: 14px;
  color: #444444;
}

.links-content {
  margin-left: 20px;
  font-size: 14px;
  color: #555555;
}